[Unit]
Description=Update fish plugins timer

[Timer]
RandomizedDelaySec=3h
OnCalendar=*-*-* 02:00:00
Unit=fish-plug-update.service

[Install]
WantedBy=timers.target
