[Unit]
Description=Update tmux plugins
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/home/bradleyb/.tmux/plugins/tpm/bin/update_plugins all
