[Unit]
Description=Update vim plugins
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vim +PlugUpgrade +PlugUpdate +CocUpdateSync +qall
